* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 20px;
  border: 3px solid rgba(0, 0, 0, 0.479);
  height: 20px;
  background-image: url(./src/img/pantallaNavMovil.png);
  background-position: top;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #faeed7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #faeed7;
}

::-webkit-scrollbar-thumb:active {
  background: #fcfcfc;
}

::-webkit-scrollbar-track {
  border: 0px none #ffffff;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #006a91;
}

.playbutton {
  height: 64px;
  width: 64px;
  position: absolute;
  bottom: 2px;
  right: 10px;
  cursor: pointer;
}

.playbutton:hover {
  height: 68px;
  width: 68px;
}

input {
  display: none;
}

.guitarFinder {
  margin: auto;
  width: 100vw;
  background-image: url("../img/wallp1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  /* overflow: hidden; */
}

.guitarFinder h2 {
  color: white;
  text-align: center;
  padding-top: 20px;
}

.guitarFinderApp {
  width: 500px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guitarFinderApp {
  width: 70vw;
  height: 700px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: space-around; */
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.guitarFinderApp .bodyinfo {
  margin-top: 70px;
}

.guitarFinderApp .bodyinfo p {
  color: white;
  text-align: center;
  width: 500px;
}

.guitarFinderButtonContainer {
  width: 20%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guitarFinderButtonContainer button {
  background-color: red;
  border-radius: 40px;
  width: 100px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.guitarFinderButtonContainer button:disabled {
  cursor: not-allowed;
}

.guitarFinderButtonContainer .backbutton {
  background-color: black;
  border-radius: 40px;
  width: 100px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.guitarFinderStartButton .startButton {
  width: 250px;
  height: 70px;
  background: #c31432;
  background: black;
  border-radius: 50px;
  color: white;
}

.guitarFinderText h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.guitarFinderText p {
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  color: white;
}

.results {
  width: 80vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.results__active {
  width: 50%;
}

.results__grid {
  width: 40%;
  max-height: 80vh;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

#option1 {
  display: none;
}

#option1items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#option1 img {
  height: 400px;
  width: 400px;
  cursor: pointer;
}

#option1 img:hover {
  height: 450px;
  width: 450px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option2 {
  display: none;
}

#option2 img {
  height: 400px;
  width: 400px;
  cursor: pointer;
}

#option2 img:hover {
  height: 450px;
  width: 450px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option3 {
  display: none;
}

#option3 .firstimage {
  width: 350;
  height: 300px;
}

#option3 img {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

#option3 img:hover {
  height: 350px;
  width: 350px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option4 {
  display: none;
}

#option4 img {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

#option4 img:hover {
  height: 350px;
  width: 350px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option5 {
  display: none;
}

#option5 img {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

#option5 img:hover {
  height: 350px;
  width: 350px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option6 {
  display: none;
}

.option__text {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.bodyDescription {
  border-top: 1px solid white;
}

.splide {
  width: 100vw;
}

.resultsCardActive {
  min-height: 80vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /*para la rotacio*/
  cursor: pointer;
}

.resultsCardActiveImg {
  height: 500px;
}

.resultsCardActiveName {
  text-align: center;
  color: white;
}

.resultsCardActive .resultsCardPrice {
  margin-top: 43px;
}

@-webkit-keyframes wipe-in-down {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes wipe-in-down {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:down"] {
  -webkit-animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both;
          animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both;
}

/*   @keyframes square-in-hesitate {
    0% {
      clip-path: inset(90% 90% 90% 90%);
    }
    40% {
      clip-path: inset(33% 33% 33% 33%);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
  }
 */
@-webkit-keyframes wipe-in-right {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@keyframes wipe-in-right {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  -webkit-animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right both;
          animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right both;
}

.rotateCardActive {
  position: absolute;
  top: 5px;
  left: 5px;
}

.resultsCardActive_imgs {
  width: 100%;
  height: 150px;
  border-top: 1px solid white;
}

.resultsCardActive_imgs img {
  height: 150px;
}

/*  INTENTANDO A PLENO LA ROTACION*/
.card {
  width: 80%;
  height: 80vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--primary)), to(var(--secondary)));
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.resultsCardActiveName {
  margin-top: 60px;
}

.specifications__text {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0px;
  background-color: black;
}

.card__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.card__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(10%, var(--primary)), color-stop(115%, var(--secondary)));
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body li {
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

/*CIERRO ROTA*/
.resultsCard100 {
  height: 400px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
}

.resultsCard100Img {
  height: 300px;
  width: 300px;
}

.resultsCard100name {
  text-align: center;
}

.resultsCard100 .resultsCardPrice {
  margin-top: 43px;
}

.resultsCard85 {
  height: 400px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  cursor: pointer;
}

.resultsCard85Img {
  height: 300px;
  width: 300px;
}

.resultsCard85name {
  text-align: center;
}

.resultsCard70 {
  height: 400px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  cursor: pointer;
}

.resultsCard70Img {
  height: 300px;
  width: 300px;
}

.resultsCard70name {
  text-align: center;
}

.resultsCard100:hover {
  background-color: black;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.resultsCard100:hover .resultsCardPrice {
  width: 50px;
  height: 20px;
  background-color: green;
  color: white;
  margin-top: 43px;
  text-align: center;
}

.resultsCard100:hover .resultsCard100Name {
  color: white;
}

.resultsCard100:hoverImg:hover {
  height: 350px;
  width: 350px;
}

.resultsCard85:hover {
  background-color: black;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.resultsCard85:hover .resultsCardPrice {
  color: white;
  width: 50px;
  height: 20px;
  background-color: green;
  margin-top: 10px;
  text-align: center;
}

.resultsCard85:hover .resultsCard85Name {
  color: white;
}

.resultsCard85:hoverImg:hover {
  height: 350px;
  width: 350px;
}

.resultsCard70:hover {
  background-color: black;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.resultsCard70:hover .resultsCardPrice {
  color: white;
  width: 50px;
  height: 20px;
  background-color: green;
  margin-top: 10px;
  text-align: center;
}

.resultsCard70:hover .resultsCard70Name {
  color: white;
}

.resultsCard70:hoverImg:hover {
  height: 350px;
  width: 350px;
}

.resultsCard100Flex {
  height: 500px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
}

.resultsCard100FlexImg {
  height: 300px;
  width: 300px;
}

.resultsCard100Flexname {
  text-align: center;
}

.resultsCard100Flex .resultsCardPrice {
  margin-top: 43px;
}

.resultsCard85Flex {
  height: 500px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
}

.resultsCard85FlexImg {
  height: 300px;
  width: 300px;
}

.resultsCard85Flexname {
  text-align: center;
}

.resultsCard85Flex .resultsCardPrice {
  margin-top: 43px;
}

.resultsCard70Flex {
  height: 500px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
}

.resultsCard70FlexImg {
  height: 300px;
  width: 300px;
}

.resultsCard70Flexname {
  text-align: center;
}

.resultsCard70Flex .resultsCardPrice {
  margin-top: 43px;
}

.resultsCard100Flex:hover {
  background-color: black;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.resultsCard100Flex:hover .resultsCardPrice {
  color: white;
  width: 50px;
  height: 20px;
  background-color: green;
  margin-top: 10px;
  text-align: center;
}

.resultsCard100Flex:hover .resultsCard70Name {
  color: white;
}

.resultsCard100Flex:hoverImg:hover {
  height: 350px;
  width: 350px;
}

.resultsCard85Flex:hover {
  background-color: black;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.resultsCard85Flex:hover .resultsCardPrice {
  color: white;
  width: 50px;
  height: 20px;
  background-color: green;
  margin-top: 10px;
  text-align: center;
}

.resultsCard85Flex:hover .resultsCard70Name {
  color: white;
}

.resultsCard85Flex:hoverImg:hover {
  height: 350px;
  width: 350px;
}

.resultsCard70Flex:hover {
  background-color: black;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.resultsCard70Flex:hover .resultsCardPrice {
  color: white;
  width: 50px;
  height: 20px;
  background-color: green;
  margin-top: 10px;
  text-align: center;
}

.resultsCard70Flex:hover .resultsCard70Name {
  color: white;
}

.resultsCard70Flex:hoverImg:hover {
  height: 350px;
  width: 350px;
}

.resultsCardPorcentaje {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: yellow;
  position: absolute;
  top: 15px;
  right: 15px;
}

.resultsCardPorcentaje p {
  color: black;
  text-align: center;
  padding-top: 8px;
}

/* .resultsCardPorcentaje:after {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 50px;
} */
.active {
  /* .resultsCard70 {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard70Name {
        color: white;
    }
    &Img:hover {
        height: 350px;
        width: 350px;

    }
  }
  .resultsCard85 {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard85Name {
        color: white;
    }
    &Img:hover {
        height: 350px;
        width: 350px;

    } 

  }
  .resultsCard100 {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard100Name {
        color: white;
    }
    &Img:hover {
        height: 350px;
        width: 350px;

    }
  }*/
  background-color: red;
}

.resultsCardFail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.resultsCardFail p {
  color: white;
}

.resultsCardFailImg {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.activeimg {
  -webkit-filter: drop-shadow(10px 10px 10px yellow);
          filter: drop-shadow(10px 10px 10px yellow);
}

.preloader {
  width: 100vw;
  height: 100vh;
}

.cambiarVista {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: right;
      align-self: right;
  position: absolute;
  top: 10px;
  right: 50px;
}

.cambiarVista img {
  height: 50px;
  width: 50px;
}
/*# sourceMappingURL=styles.css.map */