* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

video {
  position: fixed;
  top: -110px;
  width: 100vw;
  height: auto;
  overflow: hidden;
  z-index: -10;
  visibility: visible;
  -webkit-animation: wipe-in-left 2.5s;
          animation: wipe-in-left 2.5s;
}

.playbutton {
  height: 64px;
  width: 64px;
  position: absolute;
  bottom: 2px;
  right: 10px;
  cursor: pointer;
}

.playbutton:hover {
  height: 68px;
  width: 68px;
}

input {
  display: none;
}

.guitarFinder {
  margin: auto;
  width: 100vw;
  background-image: url("../img/wallp1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}

.guitarFinder h2 {
  color: white;
  text-align: center;
}

.guitarFinderApp {
  width: 500px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guitarFinderAppInicio .slider {
  width: 2000px;
  height: 200px;
  position: relative;
  -webkit-animation: slider 10s infinite;
          animation: slider 10s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.guitarFinderApp {
  width: 70vw;
  height: 700px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: space-around; */
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.guitarFinderApp .bodyinfo {
  margin-top: 70px;
}

.guitarFinderApp .bodyinfo p {
  color: white;
  text-align: center;
  width: 500px;
}

.guitarFinderButtonContainer {
  width: 20%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guitarFinderButtonContainer button {
  background-color: red;
  border-radius: 40px;
  width: 100px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.guitarFinderButtonContainer .backbutton {
  background-color: black;
  border-radius: 40px;
  width: 100px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.guitarFinderStartButton .startButton {
  width: 250px;
  height: 70px;
  background: #c31432;
  background: black;
  border-radius: 50px;
  color: white;
}

.guitarFinderText h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.guitarFinderText p {
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  color: white;
}

#option1 {
  display: none;
}

#option1items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#option1 img {
  height: 400px;
  width: 400px;
  cursor: pointer;
}

#option1 img:hover {
  height: 450px;
  width: 450px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option2 {
  display: none;
}

#option2 img {
  height: 400px;
  width: 400px;
  cursor: pointer;
}

#option2 img:hover {
  height: 450px;
  width: 450px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option3 {
  display: none;
}

#option3 img {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

#option3 img:hover {
  height: 350px;
  width: 350px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option4 {
  display: none;
}

#option4 img {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

#option4 img:hover {
  height: 350px;
  width: 350px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option5 {
  display: none;
}

#option5 img {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

#option5 img:hover {
  height: 350px;
  width: 350px;
  -webkit-transition: .2s;
  transition: .2s;
}

#option6 {
  display: none;
}

.resultsCard {
  height: 500px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: relative;
}

.resultsCardImg {
  height: 300px;
  width: 300px;
}

.resultsCardname {
  text-align: center;
}

.resultsCard:hover {
  background-color: black;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.resultsCard:hovername {
  color: white;
}

.resultsCard:hoverImg:hover {
  height: 350px;
  width: 350px;
}

.resultsCard:hover p {
  color: white;
}

.resultsCardPorcentaje {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: yellow;
  position: absolute;
  top: 15px;
  right: 15px;
}

.resultsCardPorcentaje p {
  color: black;
  text-align: center;
  padding-top: 8px;
}

.resultsCardPorcentaje:hover p {
  color: black;
}

.resultsCardFail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultsCardFail p {
  color: white;
}

.resultsCardFailImg {
  width: 20px;
  height: 20px;
}

.activeimg {
  -webkit-filter: drop-shadow(10px 10px 10px yellow);
          filter: drop-shadow(10px 10px 10px yellow);
}

.results {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}
/*# sourceMappingURL=styles.css.map */