
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
::-webkit-scrollbar {
    width: 20px;
    border: 3px solid rgba(0, 0, 0, 0.479);
    height: 20px;
    background-image: url(./src/img/pantallaNavMovil.png);
    background-position: top;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background:rgb(250, 238, 215);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background:rgb(250, 238, 215);
}
::-webkit-scrollbar-thumb:active {
    background: #fcfcfc;
}
::-webkit-scrollbar-track {
    border: 0px none #ffffff;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #006a91
}
.playbutton {
    height: 64px;
    width: 64px;
    position: absolute;
    bottom: 2px;
    right: 10px;
    cursor: pointer;
    &:hover {
        height: 68px;
        width: 68px;
    }
}


 input {
    display: none;
}  
.guitarFinder {
    margin: auto;
    width: 100vw;
     background-image: url("../img/wallp1.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* overflow: hidden; */
    h2{
        color: white;
        text-align: center;
        padding-top: 20px;
    }
    &App {
       width: 500px;
       height: 300px;
       display: flex;
       align-items: center;
       justify-content: center;
    }
}


.guitarFinderApp {
    width: 70vw;
    height: 700px;
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    .bodyinfo {
        margin-top: 70px;
        p {
            color:white;
            text-align: center;
            width: 500px;
        }
    }
}
.guitarFinderButtonContainer {
    width: 20%;
    display: none;
    align-items: center;
    justify-content: space-between;
    button {
        background-color: red ;
        border-radius: 40px;
        width: 100px;
        height: 50px;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    button:disabled {
        cursor: not-allowed;
    }
    .backbutton {
        background-color: black ;
        border-radius: 40px;
        width: 100px;
        height: 50px;
        color: white;
        text-align: center;
        text-decoration: none;
    }
}
.guitarFinderStartButton {

    .startButton {
        width: 250px;
        height: 70px;
        background: rgb(195,20,50);
        background:  black ;
        border-radius: 50px;
        color: white;
    }
}
.guitarFinderText {
    h1 {
        font-size: 4rem;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    p {
        font-size: 2rem;
        text-align: center;
        margin-top: 30px;
        color: white;
    }
}

.results {
    width: 80vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
} 
.results__active {
    width: 50%;
}

.results__grid {
    width: 40%;
    max-height: 80vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  auto;
}



#option {
    &1 {
        display: none;
        &items {
            display:flex;
        }
        img {
            height: 400px;
            width: 400px;
            cursor:pointer;
        }
        img:hover {
            height: 450px;
            width: 450px;
            transition: .2s;
        }
    }
    &2 {
        display: none;
        img {
            height: 400px;
            width: 400px;
            cursor:pointer;
        }
        img:hover {
            height: 450px;
            width: 450px;
            transition: .2s;
        }
    }
    &3 {
        display: none;
        .firstimage {
            width: 350;
            height: 300px;
        }
        img {
            height: 300px;
            width: 300px;
            cursor:pointer;
        }
        img:hover {
            height: 350px;
            width: 350px;
            transition: .2s;
        }
    }
    &4 {
        display: none;
        img {
            height: 300px;
            width: 300px;
            cursor:pointer;
        }
        img:hover {
            height: 350px;
            width: 350px;
            transition: .2s;
        }
    }
    &5 {
        display: none;
        img {
            height: 300px;
            width: 300px;
            cursor:pointer;
        }
        img:hover {
            height: 350px;
            width: 350px;
            transition: .2s;
        }
    }
    &6 {
        display: none;
    }
}
.option__text {
    text-align:center;
    color: white;
    margin-bottom: 50px;
}

.bodyDescription {
    border-top: 1px solid white;
}

.splide {
    width: 100vw;
} 

.resultsCardActive {
    min-height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    transition: 1s;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: relative;
    perspective: 1000px; /*para la rotacio*/
    cursor:pointer;
     &Img {
        max-height: 500px;
    } 
    &Name {
        text-align: center;
        color: white;
    }
    .resultsCardPrice {
        margin-top: 43px;
    }
}


@keyframes wipe-in-down {
    from {
      clip-path: inset(0 0 100% 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:down"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
  }
/*   @keyframes square-in-hesitate {
    0% {
      clip-path: inset(90% 90% 90% 90%);
    }
    40% {
      clip-path: inset(33% 33% 33% 33%);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
  }
 */

 @keyframes wipe-in-right {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
  }
  
.rotateCardActive {
    position: absolute;
    top: 5px;
    left: 5px
}

.resultsCardActive_imgs {
    width: 100%;
    height: 150px;
    border-top: 1px solid white;
    img {
        height: 150px;
    }
}


/*  INTENTANDO A PLENO LA ROTACION*/
.card {
    width: 80%;
    height: 80vh;
    perspective: 1000px;
  }
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
  }

  .resultsCardActiveName {
      margin-top: 60px;
  }
  .specifications__text {
      color:white;
      font-size: 1.5rem;
      text-align: center;
      margin:10px 0px;
      background-color: black;
  }
  .card__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }
  
  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  .pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }
  
  .card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__body {
    padding: 30px;
    li {
        color:white;
        text-align: center;
        font-size: 1.4rem;
    }
  }
  
  .card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
/*CIERRO ROTA*/  


.resultsCard100 {
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: relative;
    order: 1;
    cursor:pointer;
    &Img {
        height: 300px;
        width: 300px;
    }
    &name {
        text-align: center;
    }
    .resultsCardPrice {
        margin-top: 43px;
    }
}
.resultsCard85 {
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: relative;
    order: 2;
    cursor:pointer;
    &Img {
        height: 300px;
        width: 300px;
    }
    &name {
        text-align: center;
    }
}
.resultsCard70 {
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: relative;
    order: 3;
    cursor:pointer;
    &Img {
        height: 300px;
        width: 300px;
    }
    &name {
        text-align: center;
    }
}



  .resultsCard100:hover {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        width: 50px;
        height: 20px;
        background-color: green;
        color: white;
        margin-top: 43px;
        text-align: center;
    }
    .resultsCard100Name {
        color: white;
    }
    &Img:hover {
        height: 350px;
        width: 350px;
    }
}   
.resultsCard85:hover {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard85Name {
        color: white;
    }
    &Img:hover {
        height: 350px;
        width: 350px;

    }
}  
.resultsCard70:hover {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard70Name {
        color: white;
    }
    
    &Img:hover {
        height: 350px;
        width: 350px;

    }
}  
 
.resultsCard100Flex {
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: relative;
    order: 1;
    cursor:pointer;
    &Img {
        height: 300px;
        width: 300px;
    }
    &name {
        text-align: center;
    }
    .resultsCardPrice {
        margin-top: 43px;
    }
}
.resultsCard85Flex {
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: relative;
    order: 1;
    cursor:pointer;
    &Img {
        height: 300px;
        width: 300px;
    }
    &name {
        text-align: center;
    }
    .resultsCardPrice {
        margin-top: 43px;
    }
}
.resultsCard70Flex {
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: relative;
    order: 1;
    cursor:pointer;
    &Img {
        height: 300px;
        width: 300px;
    }
    &name {
        text-align: center;
    }
    .resultsCardPrice {
        margin-top: 43px;
    }
}

.resultsCard100Flex:hover {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard70Name {
        color: white;
    }
    
    &Img:hover {
        height: 350px;
        width: 350px;

    }
}  
.resultsCard85Flex:hover {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard70Name {
        color: white;
    }
    
    &Img:hover {
        height: 350px;
        width: 350px;

    }
}  
.resultsCard70Flex:hover {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard70Name {
        color: white;
    }
    
    &Img:hover {
        height: 350px;
        width: 350px;

    }
}  


.resultsCardPorcentaje {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: yellow;
    position: absolute;
    top: 15px;
    right: 15px;
    p {
        color: black;
        text-align: center;
        padding-top: 8px;
    }
}

/* .resultsCardPorcentaje:after {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 50px;
} */

.active {
  /* .resultsCard70 {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard70Name {
        color: white;
    }
    &Img:hover {
        height: 350px;
        width: 350px;

    }
  }
  .resultsCard85 {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard85Name {
        color: white;
    }
    &Img:hover {
        height: 350px;
        width: 350px;

    } 

  }
  .resultsCard100 {
    background-color: black;
    transition: 0.8s;
    .resultsCardPrice {
        color: white;
        width: 50px;
        height: 20px;
        background-color: green;
        margin-top: 10px;
        text-align: center;
    }
    .resultsCard100Name {
        color: white;
    }
    &Img:hover {
        height: 350px;
        width: 350px;

    }
  }*/
  background-color: red;
}


.resultsCardFail {
    display: flex;
    align-items: center;
    padding-top: 10px;
    p {
        color: white;
    }
    &Img {
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }
}

.activeimg {
    filter: drop-shadow(10px 10px 10px yellow);
}



.preloader {
    width: 100vw;
    height: 100vh;
}



.cambiarVista {
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: right;
   position: absolute;
   top: 10px;
   right: 50px;
   img {
       height: 50px;
       width: 50px;
   }
}